<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Uplift Code: File Summary</title>
  </head>

  <body onload="attachLinkEvents()">
    <h1>Uplift Code: File Summary</h1>
    <p>
      All data displayed is taking in consideration commits from the last
      {{since}}
    </p>

    <h2>Current file churn</h2>
    <p>
      <a
        href="https://marketplace.visualstudio.com/items?itemName=CarlosBonetti.vscode-uplift-code#churn"
        target="_blank"
        >What is that?</a
      >
    </p>

    <table>
      <thead>
        <tr>
          <th align="left">File</th>
          <th align="right">Churn</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{currentFileName}}</td>
          <td align="right">{{currentFileChurn}}</td>
        </tr>
      </tbody>
    </table>

    <h2>File coupling</h2>
    <p>
      <a
        href="https://marketplace.visualstudio.com/items?itemName=CarlosBonetti.vscode-uplift-code#file-coupling"
        target="_blank"
        >What is that?</a
      >
    </p>

    <table>
      <thead>
        <tr>
          <th align="left">File</th>
          <th align="right" style="white-space: nowrap">Coupling ratio</th>
        </tr>
      </thead>
      <tbody>
        {{#coupling}}
        <tr>
          <td><a href="{{href}}" class="file-link">{{file}}</a></td>
          <td align="right">{{ratio}}%</td>
        </tr>
        {{/coupling}}
      </tbody>
    </table>
    <script>
      function attachLinkEvents() {
        const vscode = acquireVsCodeApi();

        document.querySelectorAll("a.file-link").forEach((element) => {
          element.addEventListener("click", () => {
            vscode.postMessage({
              command: "open-file",
              href: element.getAttribute("href"),
            });
          });
        });
      }
    </script>
  </body>
</html>
