<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Uplift Code: File Summary</title>
</head>

<body onload="attachLinkEvents()">
  <h1>Uplift Code: File Summary</h1>

  <h2><code>{{currentFileName}}</code></h2>
  <h3>Churn {{currentFileChurn}}</h3>
  <h3>Since {{since}}</h3>
  <p>
    <a href="https://marketplace.visualstudio.com/items?itemName=CarlosBonetti.vscode-uplift-code#churn"
      target="_blank">What is that?</a>
  </p>
</body>

</html>